@import 'https://fonts.googleapis.com/css?family=Roboto:400,500,500i,900|Source+Sans+Pro:400,400i,600,600i,700,700i,900';

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Roboto', sans-serif;
	font-style: bold;
	font-size: 20px; /*1em=20px*/
	background-color: #FDFBFF;
	color: #0C4932;
	line-height: 1.5;
	position: relative;
}

header, footer {
	border: 1px black solid;
	padding: 1em;
}

header {
	background-color: #FFED74;
	/* text-align: right; */
}

nav {
	background-color: #e8c66a;
	border: 1px black solid;
	padding: 1em;
	float:right;
}

h2, h3, h4 {
	font-family: 'Source Sans Pro', sans-serif;
	font-style: bold;
}

div, section {
	background-color: #FFE2B8;
	border: 1px black solid;
	padding: 1em;
}

#two_column {
    background-color: #FFB7CF;
    border: 1px black solid;
    padding: 0.5em;
}

#left {
    background-color: #E582A2;
    border: 1px black solid;
    float: left;
    width: 74%;
}

#right {
    background-color: #E55B88;
    border: 1px black solid;
    padding: 0.5em;
    float: right;
    width: 25%;
}

#services {

}

.service_type {
	float: left;
}

a {
	font-style: 'Source Sans Pro', sans-serif;
	color: #1BA19B;
	font-style: black;
	font-weight: 700;
	text-decoration: none;
}

footer a {
	font-style: normal;
	color: #FDFBFF;
}

nav a {
	font-style: normal;
	padding: 0 2.5em;
}

p {
	line-height: 1.5;
}

ul, ol {
	line-height: 1.5;
	padding-left: 1.25em;
}

ul {
	list-style: none;
}

img {
	/*width:25em;*/
	/*margin: 0 auto;*/
}

#picture_why {
	height: 10.5em;
}

#main-nav {
	border-top: 2px solid #0C4932;
	padding-top: 1.25em;
}

#social-nav > * {
	float:left;
}

.social_logo {
	width: 1.25em;
	margin: 0 auto;
	border-width: 5px solid #FDFBFF;
	border-radius: 100%;
}

#logo {
	width:5em;
	float: left;
}

#intro {
	background-image: url(../images/openpit.JPG);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	color: white;
	font-size:1.25em;
	position: relative;
	padding: 0em 0 0 2em;
	height: 53vh;
}

#intro h1 {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 5em;
	 /*this is the way i found to put my H1 on top of the background picture, yet it doesnt move with the chnages of the screen size.... not receptive*/
}

#intro h3 {
	font-family: 'Roboto', sans-serif;
	 /*this is the way i found to put my H1 on top of the background picture, yet it doesnt move with the chnages of the screen size.... not receptive*/
}

#intro a {
	width: 12.5em;
	padding: 0.5em;
	border: 5px solid #FDFBFF;
	background-color: #FDFBFF;
	display: inline-block;
	text-align: center;
}

#intro a:hover {
	background-color: #1BA19B;
	color: #FDFBFF;
	border: 5px solid #FDFBFF;
}

/*i have a link in the section #intro - "read more", 
*it appears now below at the left hand side of the picture, 
*while it shall appear at the bottom right hand side of 
*the picture and be on the white background*/


main {
	background-color: #cccccc;
	font-size: 1em;
	border: 1px black solid;
	padding: 1em;
}

main a {
	width: 12.5em;
	padding: 0.5em;
	border: 5px solid #FDFBFF;
	background-color: #FDFBFF;
	display: inline-block;
	text-align: center;
}

main a:hover {
	background-color: #1BA19B;
	color: #FDFBFF;
	border: 5px solid #FDFBFF;
}

#news {

}

#facts {
	background-color: #cccccc; /*how to make grey be applied to three areas i want it to be applied in one go, if one area is main and the other two are defined by ID within <div> tags*/
	text-align: center;
}

footer {
	background-color: #FF957E;
	color: #FDFBFF;
	text-align: center;
	font-size: 0.6em;
	border: 1px black solid;
	padding: 1em;
}

footer hr { 
	height: 3px
	background-color: #cccccc;
	width: 15em;
	margin: 1em auto;
}

#footerlinks {
	column-count: 4;
	-webkit-column-count:4;
	-moz-column-count:4;
	column-gap: 5em;
}

#footernav {
	float:none;
	padding: 0.25em;
}

#footernav > * {
	float:center;
}

.footerH2 {
	font-size: 1.25em;
	font-style: 700;
	text-decoration: underline;
	text-align: left;
}

.footerlinks {
	text-align: left;
	margin-left: 2.5em;
}

.clearfix:after {
	height:0;
	visibility:hidden;
	content: " ";
	display:block;
	clear:both;
}
